body {
  font-family: "Libre Franklin";
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #979DAC;
}

header {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  color: #001233;
}

main {
  display: flex;
  justify-content: center;
}

#control {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

#container {
  margin-left: 20px;
  width: 580px;
  height: 580px;
  display: flex;
  flex-direction: column;
}

#container:hover {
  cursor: pointer;
}

.row {
  display: flex;
  height: 100%;
}

.square {
  background-color: white;
  width: 100%;
  height: 100%;
}

.grid {
  border: 1px solid black;
}

.selected {
  background-color: #5C677D;
  color: white;
}

button {
  color: #001233;
  font-size: 20px;
  font-weight: 560;
  height: 40px;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: #979DAC;
  width: 80%;
}

button:hover {
  cursor: pointer;
  scale: 1.05;
}

label {
  color: #001233;
  font-weight: 560;
  font-size: 20px;
}

input[type="range"] {
  cursor: pointer;
  accent-color: #001233;
  margin-bottom: 10px;
}

input[type="color"] {
  cursor: pointer;
  border: 0;
  background: none;
  height: 35px;
}

input[type="color"]::-webkit-color-swatch {
  border: 0;
  border-radius: 12px;
}

#color {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'] {
  cursor: pointer;
}